<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- css link -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" />

    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="home--page">

    <table class="home-page-table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <i>Welcome to My First App's Home Page. Let's start!</i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="jobs/list" target="_blank">Jobs' List</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="departments/list" target="_blank">Departments' List</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="employees/list" target="_blank">Employees' List</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>