.btn-div {
    display: inline-block;
}

.btn-div a,
.btn-div input[type="submit"],
.btn-div button {
    padding: 10px 20px;
}

.error {
    font-family: -webkit-pictograph;
}

.error img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 30px;
}

.error h3 i {
    font-size: 8px;
    vertical-align: middle;
}

.error h1 {
    font-size: 6rem;
    font-weight: bold;
}

.error p {
    letter-spacing: 2px;
}