<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Error page</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="text-center">
                        <div class="page-div">
                            <h3><span><i class="fas fa-circle"></i></span>Error<span><i
                                    class="fas fa-circle"></i></span></h3>
                            <h1>404</h1>
                            <p class="mt-4 mb-5">Page Not Found</p>
                            <a class="error-page-link" href="/">Go Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>