<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Error page</title>
</head>
<body>
<div layout:fragment="content" class="text-center">
    <div class="btn-div error">
        <img src="../../css/dist/img/error.png" alt="Page Not Found"
             th:href="@{/css/dist/img/error.png}"/>

        <h3>
            <i class="fas fa-circle"></i>
            <span>Error</span>
            <i class="fas fa-circle"></i>
        </h3>
        <h1>404</h1>
        <p class="mb-4">Page Not Found</p>

        <a class="btn btn-primary" href="/">Go home page</a>
    </div>
</div>
</body>
</html>