<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees' List</title>

    <!-- css link -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<h1 class="heading-page">Employees' List</h1>

<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Identity document (ID)</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Department ID</th>
            <th>Job ID</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.id}">1</td>
            <td th:text="${employee.firstName}">Ahmad</td>
            <td th:text="${employee.lastName}">Azadov</td>
            <td th:text="${employee.phone}">050-123-45-67</td>
            <td th:text="${employee.address}">A.Rajabli str.</td>
            <td th:text="${employee.department}">5</td>
            <td th:text="${employee.work}">4</td>
            <td>
                <form class="search-form-edit" th:action="@{../employees/edit}" th:object="${employee.id}" method="get">
                    <button type="submit" th:value="${employee.id}" th:name="id">Edit this employee</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<form class="btn--form" th:action="@{../employees/addOrEdit}" method="get">
    <input type="submit" name="action" value="Add a new employee"/>
</form>
</body>
</html>