<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Employees List</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div>
                <form th:action="@{/logout}" method="post">
                    <p>
                        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                    </p>
                    <input type="submit" value="Sign Out" />
                </form>
            </div>

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employees</h1><br>
                    <form class="btn--form" th:action="@{../employees/addOrEdit}" method="get">
                        <input type="submit" name="action" value="Add a new employee" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Employees</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Identity document (ID)</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Department ID</th>
                                    <th>Job ID</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee:${employees}">
                                    <td th:text="${employee.id}">1</td>
                                    <td th:text="${employee.firstName}">Name</td>
                                    <td th:text="${employee.lastName}">Surname</td>
                                    <td th:text="${employee.phone}">Phone</td>
                                    <td th:text="${employee.address}">Address</td>
                                    <td th:text="${employee.department.name}">Department</td>
                                    <td th:text="${employee.work.name}">Job</td>
                                    <td>
                                        <form class="search-form-edit" th:action="@{../employees/edit}"
                                              th:object="${employee.id}" method="get">
                                            <button type="submit" th:value="${employee.id}" th:name="id"
                                                    class="btn btn-primary">Edit
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form class="search-form-edit" th:action="@{../employees/deleteEmp}"
                                              th:object="${employee.id}" method="post">
                                            <button type="submit" th:value="${employee.id}" th:name="id"
                                                    class="btn btn-primary">Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Identity document (ID)</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Department name</th>
                                    <th>Job name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>