<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding New Job Form</title>

    <!-- css link -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<h1 class="heading-page">Adding New Job Form</h1>

<div class="search-form-div">
    <form class="search-form" th:action="@{../jobs/newWork}" th:object="${newJob}" method="post">
        <span>Job's name:</span>
        <input type="text" required th:field="${newJob.name}" th:value="${newJob.name}" th:name="name"/>

        <div class="btn--inputs">
            <input type="submit" value="Add"/>
            <input type="reset" value="Reset"/>
        </div>
    </form>
</div>
</body>
</html>