<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:custom="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div>
                <form th:action="@{/logout}" method="post">
                    <p>
                        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                    </p>
                    <input type="submit" value="Sign Out" class="btn btn-primary mb-2"/>
                </form>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Jobs</h1><br>
                    <form class="btn--form" th:action="@{../jobs/addOrEdit}" method="get">
                        <input type="submit" name="action" value="Add a new job" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Jobs</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Identity document (ID)</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="work:${works}">
                                    <td th:text="${work.id}">ID</td>
                                    <td th:text="${work.name}">Name</td>
                                    <td>
                                        <a class="btn btn-primary" th:href="@{../jobs/edit(id=${work.id})}"
                                           custom:linkMethod="get">Edit</a>

                                        <!--<form class="search-form-edit" th:action="@{../jobs/edit}"
                                              th:object="${work.id}" method="get">
                                            <button type="submit" th:value="${work.id}" th:name="id"
                                                    class="btn btn-primary">Edit
                                            </button>
                                        </form>-->
                                    </td>
                                    <td>
                                        <form onsubmit="return confirm('Are you sure?');" class="search-form-edit"
                                              th:action="@{../jobs/deleteJob}"
                                              th:object="${work.id}" method="post">
                                            <button type="submit" th:value="${work.id}" th:name="id"
                                                    class="btn btn-danger">Delete
                                            </button>
                                        </form>
                                    </td>
                                    <!--<td>
                                        <form class="search-form-edit" th:action="@{../jobs/edit}"
                                              th:object="${work.id}" method="get">
                                            <button type="submit" th:value="${work.id}" th:name="id"
                                                    class="btn btn-primary">Edit this job
                                            </button>
                                        </form>
                                    </td>-->
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Identity document (ID)</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>